---
export interface Props {
}
import Version from '../version.astro'
---
<div class="bg-slate-800 text-slate-400 p-5">
  Made by Dragon Forge Code
  <br />
  <div class="text-slate-700">
    <Version />
  </div>
</div>