---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
import Footer from '../../components/DragonForgeMedia/Footer.astro';
import Header from '../../components/DragonForgeMedia/Header.astro';
---

<Layout title="AltiesGaming" description="Information on AltiesGamingStudios' AltiesGaming Youtube channel">
	<Header 
		subtitle="AltiesGaming"
	/>
	<div class="px-6">
		<div class="text-center">
			<iframe src="https://ptb.discord.com/widget?id=757341031741128802&theme=dark" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandboxallow-same-origin allow-scripts" class="float-left"></iframe>
			<div class="">
				<div class="mt-10 px-2 text-center text-2xl">About AltiesGaming</div>
				<p>AltiesGaming is Dragon Forge Media's First channel started in 2017</p>
			</div>
		</div>
		<div class="container mx-auto px-10 pt-12">
			<div class="text-2xl">Channel</div>
			<table class="table-auto border border-slate-500 text-center mx-auto mt-5">
				<thead>
					<tr>
						<th class="border border-slate-600">Channel<span class=" top-0 float-right badge rounded-pill bg-red-950">Subs</span></th>
						<th class="border border-slate-600">Channel disc</th>
						<th class="border border-slate-600">To the Channel</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border border-slate-600">AltiesGaming<span class=" top-0 float-right badge rounded-pill bg-red-950" id="AGsubs">API Unavailable</span></td>
						<td class="border border-slate-600">Main Channel, Mostly Minecraft Content</td>
						<td class="border border-slate-600"><a class="btn bg-red-800 btn-sm" href="https://www.youtube.com/@altiesgaming">YouTube</a><a class="btn bg-sky-800 btn-sm" 	href="DragonForgeMedia/AG">Page</a></td>
					</tr>
				</tbody>
			</table>
			<br />
			<div class="container-fluid text-center">
				<h2>Recomended Video</h2>
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/FZK13YrjThA"></iframe>
			</div>
			<br />
			<div class="container">
			<h2>Videos:</h2>
			<p>We are working on getting a full list of videos made!</p>
			</div>
			<br />
			<script src="/JS/sub-AG.js" is:inline></script>
		</div>
	</div>
	<Footer />
</Layout>