---
import Layout from '../../layouts/DRAGONFORGEMEDIA.astro';
import Footer from '../../components/DragonForgeMedia/Footer.astro';
import Header from '../../components/DragonForgeMedia/Header.astro';
---

<Layout title="Home" description="AltiesGamingStudios' main page">
	<Header 
		subtitle="Home"
	/>
	<div class="px-6">
		<div>
			<iframe src="https://ptb.discord.com/widget?id=757341031741128802&theme=dark" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandboxallow-same-origin allow-scripts" class="float-left"></iframe>
			<div class="">
				<h5 class="mt-10 text-center text-2xl">About Dragon Forge Media</h5>
				<p>We are a small media studio owned by Dragon Forge NEXUS.</p>
				<p>we mostly make videos, most of which are on gaming and some other stuff.</p>
			</div>
		</div>
		<div class="container mx-auto px-10">
			<div class="mt-10 text-center text-2xl">Channels</div>
			<h5>All of these channels are owned by Dragon Forge Media</h5>
			<p>For partnered channels (edited/ran by us or FYTS) check the Partners page</p>
			<table class="table-auto border border-slate-500 text-center mx-auto">
				<thead>
					<tr>
						<th class="border border-slate-600">Channel<span class=" top-0 float-right badge rounded-pill bg-red-950">Subs</span></th>
						<th class="border border-slate-600">Channel disc</th>
						<th class="border border-slate-600">To the Channel</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border border-slate-600">AltiesGaming<span class=" top-0 float-right badge rounded-pill bg-red-950" id="AGsubs">API Unavailable</span></td>
						<td class="border border-slate-600">Main Channel, Mostly Minecraft Content</td>
						<td class="border border-slate-600"><a class="btn bg-red-800 btn-sm" href="https://www.youtube.com/@altiesgaming">YouTube</a><a class="btn bg-sky-800 btn-sm" href="DragonForgeMedia/AG">Page</a></td>
					</tr>
					<tr>
						<td class="border border-slate-600">AltiesGamingLive <span class=" top-0 float-right badge rounded-pill bg-red-950" id="AGLsubs">API Unavailable</span></td>
						<td class="border border-slate-600">Live Channel, Live Stream, VODS, and misc. channel</td>
						<td class="border border-slate-600"><a class="btn bg-red-800 btn-sm" href="https://www.youtube.com/@altiesgaminglive">YouTube</a><a class="btn bg-sky-800 btn-sm" href="DragonForgeMedia/AGL">Page</a></td>
					</tr>
					<tr>
						<td class="border border-slate-600">AltiesGaming's Twitch</td>
						<td class="border border-slate-600">Twitch, gaming and some coding, all vods to to AltiesGamingLive</td>
						<td class="border border-slate-600"><a class="btn bg-purple-800 btn-sm" href="https://www.twitch.tv/altiesgaming">Twitch</a></td>
					</tr>
				</tbody>
			</table>
			<div class="text-4xl text-center">Recomended Videos:</div>
			<div class="columns-2">
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/FZK13YrjThA"></iframe>
				<iframe class="w-full aspect-video" src="https://www.youtube-nocookie.com/embed/oN6P3SueMkM"></iframe>
			</div>
			<br>
			<script src="/JS/sub.js" is:inline></script>
		</div>
	</div>
	<Footer />
</Layout>