---
import Layout from '../../layouts/Partners.astro';
import Footer from '../../components/Partners/Footer.astro';
import Header from '../../components/Partners/Header.astro';
---

<Layout title="FYTS" description="AGS' FYTS program Partnerships">
	<Header 
		subtitle="fellow youtubers and Twitch streamers program members"
	/>
	
	<nav class="navbar navbar-expand-sm bg-dark-subtle navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="./">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="./FYTS">FYTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="./AGL">Sponserships</a>
				</li>
				<!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						More
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="./FEAT">Featured content</a></li>
						<li><a class="dropdown-item" href="./FAQ">FAQ</a></li>
						<li><a class="dropdown-item" href="./Discord">Discord</a></li>
						<li><a class="dropdown-item" href="./Retired">Retired Content</a></li>
					</ul>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" href="/">Hub</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="mt-4">Main Pages</h3>
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="./">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="./FYTS">FYTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="./AGL">Sponserships</a>
					</li>
				</ul>
				<hr class="d-sm-none">
				<h5>I have applied, what should I expect?</h5>
				<ul>
					<li><p>being held to a higher standard than even MODS.</p></li>
					<li><p>You will get the <span class="roleMention-11Aaqi desaturate-_Twf3u wrapper-1ZcZW- mention" tabindex="-1" role="button" style="color: rgb(255, 0, 0); background-color: rgba(255, 0, 0, 0.1);">@YouTuber</span> and/or <span class="roleMention-11Aaqi desaturate-_Twf3u wrapper-1ZcZW- mention" tabindex="-1" role="button" style="color: rgb(145, 70, 255); background-color: rgba(145, 70, 255, 0.1);">@Twitch Streamer</span> role(s) on discord depending on what you signed up for</p></li>
					<li><p>You will get your channel(s) added to the welcome message.</p></li>
					<li><p>Your new videos and/or streams will get automatically announced in the #fyts-announcements channel on the discord</p></li>
					</ul>
			</div>
			<div class="col-sm-8">
				<h2>About the FYTS program:</h2>
				<h5>What is the FYTS program?</h5>
				<p>The the FYTS program is a program for content creators to be able to easily help each other, hang out, meet other creators, and get their uploads/streams announced in discord!</p>
				<h5>I have a channel, how can I apply?</h5>
				<p>afew steps:</p>
				<ol>
					<li>make sure you meet the requirements <a href="./requirements" target="_blank" rel="noopener noreferrer">here</a></li>
					<li>Join the discord*, to find the join link go <a href="../AGS/Discord" target="_blank" rel="noopener noreferrer">here</a></li>
					<li>Make a ticket in #tickets under "FYTS"</li>
						<ul>
							<li>For the "channel ID" spot of the form, you need your youtube channel id, If you don't know where to find it go <a href="https://www.youtube.com/account_advanced" target="_blank" rel="noopener noreferrer">here</a></li>
						</ul>
					<li>hit submight and we will review your request</li>
				</ol>
				<h2>You are not guaranteed to be excepted!</h2>
			</div>
				<h2 class="mt-5 text-center">FYTS Channels</h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-secondary">
						<div class="row">
							<div class="col-4">Channel <span class=" top-0 float-end badge rounded-pill bg-danger">Sub Count</span></div>
							<div class="col-4">Channel disc</div>
							<div class="col-4">To the Channel</div>
						</div>
					</li>
					<li class="list-group-item list-group-item-info">
						<div class="row">
							<div class="col-4">Lolbit The Fox<span class=" top-0 float-end badge rounded-pill bg-danger" id="@Lolbit_The_Fox-subs">API Unavailable</span></div>
							<div class="col-4">I'm a deranged american fox-thing that wreaks havoc on peoples electronics and in my spare time, I'm a digital artist and animator!!<br />My upload schedule is really wonky, but ive been trying to do one or two videos a month as of late. Stay tuned!!<br /><br /><br />(Somehow Funtime Foxy STILL hasn't noticed his graphics board which I might've taken a year ago is missing. XD)</div>
							<div class="col-4">
							<a class="btn btn-youtube" href="https://www.youtube.com/@Lolbit_The_Fox" target="_blank" rel="noopener noreferrer">YouTube</a>
							</div>
						</div>
					</li>
				</ul>
		</div>
	</div>
	<br />
	<div class="container-fluid text-center">
		<h2>Recomended Videos from each youtube channel</h2>
		<h4>from Lolbit The Fox</h4>
		<div class="row">
			<div class="col">
				<div class="ratio ratio-16x9">
					<iframe src="https://www.youtube.com/embed/m5RqeQjZx00" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<br />
	<script src="/JS/sub-FYTS.js" is:inline></script>
	<Footer />
</Layout>
<style>
	.btn-youtube {
		background-color: #FF0000;
		color: #FFFFFF;
	}
	.btn-twitch {
		background-color: rgb(145, 70, 255);
		color: rgb(0, 0, 0);
	}
</style>
