---
import Layout from '../../layouts/Partners.astro';
import Footer from '../../components/Partners/Footer.astro';
import Header from '../../components/Partners/Header.astro';
---

<Layout title="Home" description="AGS' Partnerships">
	<Header 
		subtitle="Home"
	/>
	<div class="p-6">
		<h2 class="text-2xl">AGS Partnerships</h2>
		<p>AGS partnerships are FYTS members and sponserships.</p>
		<p>as of now we do not have any sponsers, thus the page is not available.</p>
	</div>
	<br>
	<Footer />
</Layout>