---
export interface Props {

}

---
<div class="container-fluid p-4 bg-dark-subtle text-center">
  <p>Made by AltiesGamingStudios</p>
  <p>Minecraft server Made and ran by Altie in partnership with AGS</p>
</div>