---
// layout import
import Layout from '../layouts/main.astro';

// footer import
import Footer from '../components/home/footer.astro';
---

<Layout title="Home" description="Dragon Forge NEXUS is (for now) a small media studio that makes youtube videos, websites, minecraft modpacks, and more!">
	<div class="text-center text-4xl py-1 h-auto bg-cyan-700 drop-shadow-lg">
		Dragon Forge NEXUS
		<br />
		ALPHA site
	</div>
	<!-- row 1 -->
	<div class="container mx-auto px-4 text-center pt-3">
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-sky-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge Media</div>
			<div>Dragon Forge Media is a small media studio that makes youtube videos, twitch streams and more social media based stuff.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/DragonForgeMedia"><h2>Go To</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-red-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge Code</div>
			<div>Dragon Forge Code is multible pages including: Code Tutorials, Code Librarys, And more!</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/AGS"><h2>Back Home</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-green-800 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge News</div>
			<div>Dragon Forge News is an article based news for gaming, tech, and media news! this does <strong>NOT</strong> include politics, and if politics is a major part of a subject (such as the 2023 KOSA[Kids online safety act]), it will be unbiased.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/"><h2>Back Home</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-yellow-950 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge Network</div>
			<div>Dragon Forge Network is a work in progress Minecraft Network.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/"><h2>Back Home</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-yellow-950 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge Gaming</div>
			<div>Dragon Forge Gaming is a game review and news (same gaming stories as Dragon Forge News) site.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/"><h2>Back Home</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-yellow-950 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge Docs</div>
			<div>Dragon Forge Docs is a site for all of Dragon Forge NEXUS' document sites, as well as a planned doc hosting service.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/"><h2>Back Home</h2></a></div>
			<br />
		</div>
		<br />
		<div class="transition ease-in-out delay-150 hover:scale-105 bg-slate-800 text-slate-400 hover:bg-yellow-950 duration-300 h-auto px-8 rounded-lg drop-shadow-lg">
			<div class="text-center text-2xl">Dragon Forge NEXUS' Partners</div>
			<div>Dragon Forge NEXUS' Partnerships.</div>
			<br />
			<div class="rounded-full bg-teal-400 mx-28 text-center text-slate-800 transition ease-in-out delay-150 hover:bg-teal-800 duration-300"><a href="/Partners"><h2>Back Home</h2></a></div>
			<br />
		</div>
	</div>
	<br />
	<!-- Footer -->
	<Footer />
</Layout>