---
import Header from '../../../components/DragonForgeMedia/Header.astro';
import Footer from '../../../components/DragonForgeMedia/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../../components/blog/FormattedDate.astro';

const posts = (await getCollection('DFMblog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
		<Header subtitle="Blog"/>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<img src={post.data.heroImage} alt="" transition:name="hero" class="max-h-[31.875rem] rounded-2xl shadow-2xl container mx-auto"/>
									<h4 class="title text-center">{post.data.title}<h4>
									<p class="date text-center">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
