---
export interface Props {
	subtitle: string;
}

const { subtitle } = Astro.props;
---
<div class="p-3 bg-success-subtle text-success text-center">
  <h1>AGS Patnerships</h1>
  <p>{subtitle}</p> 
</div>
