---
import Layout from '../../layouts/AGS.astro';
import Footer from '../../components/AGS/Footer.astro';
import Header from '../../components/AGS/Header.astro';
---

<Layout title="FAQ" description="AltiesGamingStudios' frequently asked questions/Q&A">
	<Header 
		subtitle="FAQ"
	/>
	
	<nav class="navbar navbar-expand-sm bg-dark-subtle navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="./">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./AG">AltiesGaming</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./AGL">AltiesGamingLive</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						More
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="./FEAT">Featured content</a></li>
						<li><a class="dropdown-item active" href="./FAQ">FAQ</a></li>
						<li><a class="dropdown-item" href="./Discord">Discord</a></li>
						<li><a class="dropdown-item" href="./Retired">Retired Content</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Hub</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="mt-4">Main Pages</h3>
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="./">Home</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="./AG">AltiesGaming</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./AGL">AltiesGamingLive</a>
						</li>
				</ul>
				<hr class="d-sm-none">
				<div class="ratio ratio-1x1 clearfix">
					<iframe src="https://ptb.discord.com/widget?id=757341031741128802&theme=dark" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>FAQ</h2>
				<p><span class="fs-1">Q:</span>"<code>What's your favorite game?</code>" asked by @e23_owner on Discord.</p>
				<p><span class="fs-1">A:</span>"<code>hard to say, but I'd have to go with Skyrim.</code>"</p>
        <h3>If you would like to see more content on this page, and have questions then come to our <a href="https://discord.gg/apuTdjRcXy">discord</a> and ask some questions!</h3>
			</div>
		</div>
	</div>
	<br />
	<Footer />
</Layout>
<style>
	.btn-youtube {
		background-color: #FF0000;
		color: #FFFFFF;
	}
	.btn-twitch {
		background-color: rgb(145, 70, 255);
		color: rgb(0, 0, 0);
	}
</style>
